.editor {
    display: flex;
    flex-direction: column;
    height: 98%;
    width: 100%;
    border: 1px solid rgb(219,224,232);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
}

.ace-editor {
    height: 100% !important;
    font-weight: 600;
}

.editor-top {
    display: flex;
    justify-content: space-between;
    height: 36.5px;
    background: rgb(229,244,254);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.top-left {
    display: flex;
    height: 100%;
    align-items: center;
}

.top-right {
    height: 100%;
    display: flex;
    align-items: center;
}

.more {
    display: none;
}

.icon-left {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    margin-left: 70px;
    margin-top: 10px;
    height: 100%;
    font-size: 0.875rem;
    font-weight: 600;
    cursor: pointer;
}

.icon-right {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    margin-top: 10px;
    height: 100%;
    font-size: 0.875rem;
    font-weight: 600;
    cursor: pointer;
}

.tab-active {
    background: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.span-text {
    margin: 0 5px;
}

.editor-bottom {
    margin-top: 10px;
    padding: 0px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    align-items: flex-end;
}

.flex-col {
    flex-direction: column;
}

.png-button {
    width: 60px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    background: rgb(67, 153, 225);
    color: white;
    margin: 0 5px;
    user-select: none;
}

.content {
    width: 100%;
    height: 98%;
    margin-left: 8px;
    margin-right: 5px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    background: white;
    border: 1px solid rgb(219,224,232);
}

.content-top {
    background: rgb(229,244,254);
    width: 100%;
    height: 36.5px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-size: 0.875rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-save {
    padding: 5px 10px;
    background: rgb(54, 123, 245);
    border-radius: 5px;
    color: white;
    cursor: pointer;
    user-select: none;
    font-size: 0.875rem;
}

.btn-save:hover {
    opacity: 0.7;
}

.btn-exit {
    padding: 5px 10px;
    background: rgb(245, 101, 101);
    border-radius: 5px;
    color: white;
    cursor: pointer;
    user-select: none;
    font-size: 0.875rem;
}

.btn-exit:hover {
    opacity: 0.7;
}

.content-btn {
    display: flex;
    align-items: center;
}

.hidden {
    display: none;
}

.flex-more {
    display: flex;
    height: 100%;
    position: relative;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
}

.content-text {
    margin: 0 10px;
}

.content-text input {
    cursor: pointer;
}

.react-transform-wrapper {
    width: 100% !important;
    height: calc(100% - 36.5px) !important;
}

.react-transform-component {
    width: 100% !important;
    height: 100% !important;
}

.overflow-guard {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 100% !important;
}

.mermaid {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    position: relative;
}

[aria-roledescription="sequence"], [aria-roledescription="classDiagram"], [aria-roledescription="flowchart-v2"],
[aria-roledescription="er"], [aria-roledescription="quadrantChart"], [aria-roledescription="c4"],
[aria-roledescription="gantt"] {
    height: 100%;
    width: 100%;
    max-width: none !important;
    max-height: none !important;
}

.error-icon {
    display: none;
}

.error-text {
    display: none;
}

.monaco-editor:nth-of-type(1) {
    width: 100% !important;
    height: 100% !important;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.monaco-editor:nth-of-type(2) {
    display: none;
}

.overflow-guard {
    width: 100%  !important;
}

/* err message */

.err-message {
    font-size: 1.125rem;
    font-weight: 500;
    color: #e53e3e;
}

.err-wrapper {
    left: 10px;
    top: 10px;
    position: absolute;
}

.opacity {
    opacity: 0.4;
}

.auto-save {
    display: flex;
    align-items: center;
}

.save-text {
    font-size: 0.875rem;
    margin-left: 5px;
}

.btn {
    display: flex;
    margin-top: 15px;
}

.btn-discard {
    background: rgb(238,238,238);
    padding: 7px 10px;
    border-radius: 5px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    margin-right: 5px;
}

.btn-discard:hover {
    background: rgb(229,229,229);
}

.btn-cancel {
    background: rgb(76,142,250);
    padding: 7px 10px;
    border-radius: 5px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    color: white;
    margin-left: 5px;
}

/* close btn */

.close-btn {
    display: none;
}

@media all and (max-width: 768px){
    .close-btn {
        display: block;
        margin-right: 5px;
        cursor: pointer;
    }

    .content-btn {
        display: none;
    }
}

@media all and (max-width: 1180px){
    .more {
        display: flex;
        height: 100%;
        position: relative;
        align-items: center;
        cursor: pointer;
        margin-right: 10px;
    }

    .top-right {
        display: none;
    }
}

/* actions */

.actions {
    background: #fff;
    width: 90px;
    height: 140px;
    position: absolute;
    bottom: -130px;
    z-index: 20;
    right: 0;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* actions zoom */
.zoom-action {
    position: absolute;
    width: 100px;
    height: 35px;
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
    right: 15px;
    bottom: 15px;
    background: rgb(67, 153, 225);
    border-radius: 4px;
    z-index: 100;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    transition: -webkit-transform 0.7s 0.1s ease;
    transition: transform .7s 0.1s ease;
}

.zoom-in {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: rgb(238,238,238);
}

.zoom-out {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: rgb(220,220,220);
}

.reset {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: rgb(238,238,238);
}

.zoom-in:hover, .zoom-out:hover, .reset:hover {
    color: #fff;
}